<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Volunteering Activities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Volunteering Activities</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Activity Type</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Address</th>
            <th scope="col">Photo URL</th>
            <th scope="col">Apply</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activity : ${activities}">
            <td th:text="${activity.id}"></td>
            <td th:text="${activity.type}"></td>
            <td th:text="${activity.description}"></td>
            <td th:text="${activity.time}"></td>
            <td th:text="${activity.address}"></td>
            <td th:text="${activity.photoUrl}"></td>
            <td>
                <form method="post" th:action="@{/volunteer/apply}">
                    <input type="hidden" name="activityId" th:value="${activity.id}"/>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
